h1 {
  color: black;
  font-family: calibri;
  font-size: 250%;
}
body {
  background-color: lightgrey;
  color: black;
}
p {
  color: black;
  font-family: calibri;
  font-size: 150%;
}
h2 {
  color: black;
  font-family: calibri;
  font-size: 100%;
}
